.background {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #17171700;
  color: #000000;
  line-height: 1.6;
  font-family: sans-serif;
  overflow: hidden;
  /* z-index: -1; */
}

.lines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: auto;
  width: 90vw;
}

.line {
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 50%;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
}

/* Adjust positions for 5 lines */
.line:nth-child(1) {
  margin-left: -40%;
  animation-delay: 1s; /* Adjust the delay for each line */
}

.line:nth-child(2) {
  margin-left: -20%;
  animation-delay: 1.5s; /* Adjust the delay for each line */
}

.line:nth-child(3) {
  margin-left: 0;
  animation-delay: 2s; /* Adjust the delay for each line */
}

.line:nth-child(4) {
  margin-left: 20%;
  animation-delay: 2.5s; /* Adjust the delay for each line */
}

.line:nth-child(5) {
  margin-left: 40%;
  animation-delay: 3s; /* Adjust the delay for each line */
}

@keyframes drop {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}

/* Apply animation to lines */
.line::after {
  content: "";
  display: block;
  position: absolute;
  height: 15vh;
  width: 100%;
  top: -50%;
  left: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
  animation: drop 7s infinite cubic-bezier(0.4, 0.26, 0, 0.97); /* Apply animation */
}